#roomLayout{
    display: inline-block;
    background-color: white;
    padding: 0px;
    margin: 0px;
    margin-right: 50px;
    border: 1px solid black;
    width:800px;
    height: 720px;
    overflow: scroll;
    box-shadow: grey 2px 2px 3px,grey -2px -2px 3px;
}

#roomManage{
    text-align: center;
    display: flex;
    width:800px;
    margin: 0px;
}

#findRoom, #makeRoom, #refreshRoom{
    width: 200px; 
}

#findRoomInput{
    width: 100%;
}